.edit-form{
    max-width: 400px; 
    width: 100%; 
    margin: 0 auto;
    margin-bottom: 20px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}
  
.input-wrapper label {
    font-weight: bold;
}
  
.input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
}

.buttons{
    display: flex;
    gap: 5px;
}